<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MyShop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<MyShop.Properties.Settings>
   <setting name="Username" serializeAs="String">
    <value />
   </setting>
   <setting name="EncryptedPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="ServerName" serializeAs="String">
    <value />
   </setting>
   <setting name="DatabaseName" serializeAs="String">
    <value />
   </setting>
   <setting name="ConnectionString" serializeAs="String">
    <value />
   </setting>
   <setting name="FirstOpenDate" serializeAs="String">
    <value />
   </setting>
   <setting name="ActivationKey" serializeAs="String">
    <value />
   </setting>
  </MyShop.Properties.Settings>
	</userSettings>
</configuration>
